<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<table id="reply-view">
	<tr th:each="dto:${list}">
		<td th:text="${dto.rno}" id="rno">댓글번호</td>
		<td th:text="${dto.text}" id="re">댓글</td>
		<td id="replier">
			<div th:text="${dto.replier}">작성자</div>
		</td>
		<td id="rdate">
			<div th:unless="${today eq dto.createdDate.toLocalDate()}" th:text="${#temporals.format(dto.createdDate, 'yyyy/MM/dd')}"></div>
			<div th:if="${today eq dto.createdDate.toLocalDate()}"  th:text="${#temporals.format(dto.createdDate, 'HH:mm:ss')}"></div>
		</td>
		<td>
			<div class="btn-del"><button>삭제</button></div>
		</td>
	</tr>
	<tr th:if="${#lists.isEmpty(list)}">
		<td colspan="3">댓글이 존재하지 않아요</td>
	</tr>
</table>
</html>