<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>
<link rel="stylesheet" href="/css/admin/product/prodList.css">
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript">
					$(function(){
						$("#heart").click(function(){
							$("#heart").hide();
							$("#heart-beat").show();
						})
					})
				</script>
</head>
<main>
	<h1>메인컨텐츠</h1>
		
		<section id="prod-list">
			<h1>상품 리스트</h1>
			<div class="wrap">
			
			</div>
			<th:block th:each ="ca : ${cateA}">
				<p style="margin-top: 30px;" class="p-tit" th:if="${ca.code==caNo}" th:value="${ca.code}">[[${ca.title}]]</p>
			</th:block>
				<ul class="grid-container">
					<li th:each="dto: ${list}" class="prods item">
						
						
						<div class="prods img" >
							<a th:href="|/common/products/${dto.prodNo}|"><img width="300px" th:src="${dto.defImgUrl}"></a>
						</div>

						<div class="prods info" style="width: 300px;">
							<p class="name">[[${dto.prodName}]]</p>
							<p><img id="heart" alt="wish" src="/images/icon/icons8-처럼-50.png" style="width: 25px; opacity: 0.5; cursor:pointer;">
							<img alt="wish" src="/images/icon/icons8-쇼핑-카트-50.png" style="width: 25px; opacity: 0.5; cursor:pointer;"></p>
							<p>
								<span style="text-decoration: line-through; color: red;">[[${dto.price}]]</span>
								<span style="font-size: 15px; font-weight: bold;">[[${dto.price - dto.sale}]]</span>
							</p>
							
						</div>
					</li>
				</ul>
				
		</section>
</main>
</html>