<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{layout/layout1 :: layout(~{::head}, ~{::main})}">
<head>

	<meta name="_csrf" th:content="${_csrf.token}" />
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<link rel="stylesheet" href="/css/common/reset.css">
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/board/qnaDetail.css">
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
	<script src="/js/summernote.js"></script>
</head>
<body>
<main class="view-size">
		<h1>Q&A 내용</h1>
		<div class="wrap">
		<div>
		<span>글번호 [[${detail.qnum}]]</span>
		</div>
			<table id="detail-view">
				<tr>
					
				</tr>
				<tr>
					<th>제목</th>
					<td th:text="${detail.title}">제목이 들어갈꺼에요</td>
				</tr>
				<tr>
					<th>작성자</th>
					<td th:text="${detail.writer}">작성자가 들어갈거예요</td>
				</tr>
				<tr>
					<th>조회수</th>
					<td th:text="${detail.readCount}">조회수가 들어갈꺼에요</td>
				</tr>
				<tr>
					<td  colspan="2">
						<div th:text="${detail.createdDate}">
						<p>작성일</p>등록일이 들어갈꺼에요</div>
						<div>[(${detail.content})]</div>
					</td>
				</tr>
				<tr>
				</tr>
				<tr>
					<td colspan="2">
						<a href="/qna/qnaList">LIST VIEW</a>
						<th:block sec:authorize="isAuthenticated()" >
						<button type="button" id="btn-edit" th:value="${#authentication.principal.email}">수정</button>
						<button type="button" id="btn-del" th:value="${#authentication.principal.email}">삭제</button>
						</th:block>
					</td>
				</tr>
			</table>
			<script th:inline="javascript">
			
				$(function(){
					
					$("#btn-del").click(function(){
						var result=confirm("do you want to delete?");
						if(!result)return;
						var qnum="[[${detail.qnum}]]";
						
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						$.ajax({
							beforeSend : function(xhr) {xhr.setRequestHeader(header,token);},
							url:"/qna/"+qnum,
							type:"delete",
							success:function(){
								location.href="/qna/qnaList";
							}
							
						});
						
					});
					
					$("#btn-edit").click(function(){
						$("#detail-view").hide();
						$("#edit-form").show();
					});
					$("#btn-cancel").click(function(){
						$("#detail-view").show()
						$("#edit-form").hide();
					});
					
				});
			</script>
			<!-- //////////////////수정시 보일화면 -->
			<form style="display: none;" id="edit-form" th:action="|/qna/${detail.qnum}|" method="post">
				<table>
					<tr>
						<td>제목</td>
						<td>
							<input type="text" name="title" th:value="${detail.title}">
						</td>
					</tr>
					<tr>
						<td>작성일</td>
						<td th:text="${detail.createdDate}">최종수정일이 들어갈꺼에요</td>
					</tr>
					<tr>
						<td>작성자</td>
						<td th:text="${detail.writer}">작성자가 들어갈거예요</td>
					</tr>
					<tr>
						<td>조회수</td>
						<td th:text="${detail.readCount}">조회수가 들어갈꺼에요</td>
					</tr>
					<tr>
						<td>내용</td>
						<td>
							<textarea name="content" id="summernote">[(${detail.content})]</textarea>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="/qna/qnaList">LIST VIEW</a>
							<input type="hidden" name="_method" value="PUT">
							<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" >
							<button type="submit">수정완료</button>
							<button type="button" id=btn-cancel>취소</button>
						</td>
					</tr>
				</table>
			</form>
			<!-- /////////////////////////////////////// -->
			<script th:inline="javascript">
				//페이지 로딩시 실행
				function getReplies(){
					$.ajax({
						url: "/qna/[[${detail.qnum}]]/replies",
						success: function(result){
							$("#reply-list").html(result);
						}
					});
				}
				$(function(){
					getReplies();
					
					$("#btn-re").click(function(){
						
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						$.ajax({
							beforeSend : function(xhr) {xhr.setRequestHeader(header,token);},
							url:"/qna/[[${detail.qnum}]]/reply",
							type:"post",
							data:{
								replier : $("#loguser").val(),
								text : $("#reply").val()
							},
							success:function(result){
								if(result){
									$("#reply").val("");
									getReplies();
								}
							}
						});
					});
					
				});
			</script>
			<div>
				<br><p>댓글</p>
				<input type="hidden" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.email}" id="loguser">
				<input type="text" id="reply" >
				<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" ><button id="btn-re">댓글등록</button>
				<div id="reply-list">
					댓글이 들어가요
				</div>
			</div>
		</div>
	</main>
</body>
</html>