<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<ul class="grid-container">
	<li th:each="dto: ${list}" class="prods item">
		<div class="prods img">
			<a th:href="|/common/products/${dto.prodNo}|"><img width="100%"
				th:src="${dto.defImgUrl}"></a>
		</div>
		<div class="prods info">
			<p class="name"><a th:href="|/common/products/${dto.prodNo}|">[[${dto.prodName}]]</a></p>
			<p><img id="heart" alt="wish" src="/images/icon/icons8-처럼-50.png" style="width: 25px; opacity: 0.5; cursor:pointer;">
				<img alt="wish" src="/images/icon/icons8-쇼핑-카트-50.png" style="width: 25px; opacity: 0.5; cursor:pointer;"></p>
			<p >
				<span style="text-decoration: line-through; color: red;">[[${dto.price}]]원</span>
				<span style="font-size: 15px; font-weight: bold;">[[${dto .price - dto.sale}]] 원</span>
			</p>
		</div>
	</li>
</ul>
</html>