@charset "UTF-8";

.wrap>.faq-menu{
	padding: 20px 20px;
}

.wrap>.subT{
	font-size: 13px;
}
.wrap>.faq-menu li {
	cursor: pointer;
	border: 1px solid rgba(191, 211, 253);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 2px solid rgba(191, 211, 253, 1) ;
	text-align: center;
	padding: 15px 0;
	width: 246px;
}

#data{
	padding:10px;
}